.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.letter {
  position: absolute;
  bottom: 100%;
  color: #0f7f0a;
  font-size: 40px;
  transition: bottom 1s linear;
}
